# logs
/logs

# environment vars
.env

# vendor and assets
node_modules
/vendor/*
/.docs/.out/*
/sites/default/documents/smarty/*

# ccda service build
ccdaservice/node_modules

# dev editor configs
/.idea/*
/.vscode/*
/nbproject/*
.DS_Store
.buildpath
.project
.settings

# testing
.phpunit.result.cache

#docs
/sites/default/documents/edi/*